html {
	background-color: #373737; 
	margin: 0;
	width: 100%; 
}
body {
	background-color: #373737; 
	margin: 0;
	width: 100%; 
	min-height:0px!important;
}
.main {
	background: url('image.png');
	background-size: cover; 
	position: relative;
	height: 0%!important;
	padding-top:25px;
}

.logo {
	display: block; 
	text-align: center; 
	position: relative;
	margin:auto;
}

.formulaire {
	width: 500px; 
	background-color: #fff; 
	border-top: 3px solid #e51937; 
	border-radius: 4px; 
	position: relative;
	margin:auto;
	text-align:center;
}
.formulaire h1{
	color: #e51937; 
	text-transform: uppercase; 
	padding: 24px 0; 
	font-size: 25px; 
	font-family: 'audiowide', arial, sans-serif;
	
}
.formulaire .formulaire-body{
	background-color:#e4e5e6;
}
.formulaire form {background-color: #e4e5e6; padding: 30px; margin-bottom: 0;}
.formulaire form label {display: block; width: 340px; text-align: left; margin: 0 auto; margin-top: 20px; font-family: arial, sans-serif; color: #373737;}
.formulaire form input[type="text"],.formulaire form input[type="email"], .formulaire form input[type="password"], .formulaire form select {width: 340px; border: none; padding: 10px; font-size: 15px;}
.formulaire form input[type="text"], .formulaire form input[type="password"] {}
.formulaire form select { color: #373737;}
.formulaire form input[type="submit"] {vertical-align:top;display:inline-block;*zoom:1;*display:inline; display: block; padding: 15px 30px; margin: 0 auto; margin-top: 30px; border: none; background-color: #e51937; color: #fff; font-size: 20px; border-radius: 4px; font-family: 'audiowide', arial, sans-serif;}
.formulaire form input[type="submit"]:hover, .formulaire form input[type="submit"]:focus {background-color: #333; cursor: pointer;}

a{
	font-family: arial, sans-serif;
	color: #373737;	
}
p{
	font-family: arial, sans-serif;
	color: #373737;	
}

@media only screen and (max-width: 500px) {
	.formulaire {top: 150px; margin-left: -170px; width: 340px; margin-top: 0;}
	.formulaire form input[type="text"], .formulaire form input[type="password"], .formulaire form select {width: 280px;}
}

@media only screen and (max-width: 400px) {
	.formulaire {width: 100%; margin-left: 0; left: 0;}
	.formulaire form label {width: 100%;}
	.formulaire form input[type="text"], .formulaire form input[type="password"], .formulaire form select {width: 100%;}
}



