*{				
	font-family:Arial;
	font-size:13px;
}
h1{				
	font-family:Arial;
	font-size: 16pt;
	color: #e31936;
	margin-top: 19px;
	margin-bottom: 10px;
}
h2{				
	font-family:Arial;
	font-size: 14pt;
	color: #7e8082;
	margin-top: 19px;
	margin-bottom:10px;
}
p{
	margin-bottom:10px;
}
.text-strong{				
	color: #e31936;
	font-weight: bold;
}
table{
	width:100%!important;
	border-collapse:collapse;
}
th{
	padding:5px;
}
td{
	padding:5px;
}
.section{
	padding-top:20px;
}

/* HEADER */
#logo_1{
	max-width:4cm;
	border:1px solid red;
}

/* FOOTER */

.footer td{
	font-size:7pt;
}
.footer p,hr{
	margin:0px;
	padding:0px;
}

/* MISE EN PAGE */
.w-100{
	width:100%;
}
.w-80{
	width:80%;
}
.w-75{
	width:75%;
}
.w-70{
	width:70%;
}
.w-67{
	width:67%;
}
.w-60{
	width:60%;
}
.w-50{
	width:50%;
}
.w-40{
	width:40%;
}
.w-33{
	width:33%;
}
.w-25{
	width:25%;
}
.w-20{
	width:20%;
}
.w-15{
	width:15%;
}
.w-10{
	width:10%;
}
/* POSITIONNEMENT */
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.p5{
	padding:5px;
}
.pt5{
	padding-top:5px;
}
.pt50{
	padding-top:50px;
}
.mb25{
	margin-bottom:25px;
}
table .tab-label{
	vertical-align:top;
}
.va-t{
	vertical-align:top;
}
/* TABLEAU */
.tab-border{
	border:1px solid #333;
}
.tab-border th{
	background-color:#333;
	color:#FFF;
	padding:5px;
}
.tab-border td{
	border:1px solid #333;
	padding:5px;
}
.bt{
	border-top:1px solid #333
}
