#zone_print{
	display:none;
	margin:0px!important;
}
/* GENERAL */
#container_print{
	margin:auto;
	padding:0.5cm; /* remplace marge d'impression */
	background-color:#fff;
}

#page_print{				
	width:100%;
	font-family:Arial;
}
#page_print h1{				
	font-family:Arial;
	font-size: 16pt;
	color: #e31936;
}
#page_print h2{				
	font-family:Arial;
	font-size: 14pt;
	color: #7e8082;
}
#page_print p{				
	margin-bottom:0px;
	padding-bottom:9.5px;
}

#page_print .text-strong{				
	color: #e31936;
	font-weight: bold;
}

#page_print table{
	width:100%!important;
}
#page_print table th,td{
	padding:5px;
}
#page_print table .tab-label{
	vertical-align:top;
}
#page_print section{
	padding-top:20px;
}

/* HEADER */
#page_print header img{
	max-width:4cm;
	max-height:2.5cm;
}

/* FOOTER */
#page_print footer{
	font-size:7pt;
}
#page_print footer p,hr{
	margin:0px;
	padding:0px;
}

/* SAUT DE PAGE */
/* saut page ajoute par calcul */
#page_print .saut{
	page-break-after:always;
}
/*saut de page fixe */
#page_print .saut-page{
	page-break-after:always!important;
}

/* MISE EN PAGE */
.w-100{
	width:100%;
}
.w-80{
	width:80%;
}
.w-75{
	width:75%;
}
.w-70{
	width:70%;
}
.w-67{
	width:67%;
}
.w-60{
	width:60%;
}
.w-50{
	width:50%;
}
.w-40{
	width:40%;
}
.w-33{
	width:33%;
}
.w-25{
	width:25%;
}
.w-20{
	width:20%;
}
.w-15{
	width:15%;
}
.w-10{
	width:10%;
}
/* TABLEAU */
.tab-border{
	border:1px solid #333;
}
.tab-border th{
	background-color:#333;
	color:#FFF;
	padding:5px;
}
.tab-border td{
	border:1px solid #333;
	padding:5px;
}
.va-t{
	vertical-align:top;
}

.bt{
	border-top:1px solid #333
}


/* TABLE DIV 
permet de créer un tableau sur plusieur page */
.table-div{
	display:table;
	width:100%;
	border-bottom:1px solid #333;
	border-spacing:0px;
	border-collapse:0px;	
}
.table-div > div{
	display:table-cell;
	border-spacing:0px;
	border-collapse:0px;
	border-right:1px solid #333;
	
}
.table-div > div:first-child{
  border-left:1px solid #333;
}
.table-div-th{
	background-color:#333;
	color:#FFF;
}

@media print {
  html{
	background-color:#fff!important;
	margin:0px!important;
	padding:0px!important;;
	}
	body{
		background-color:#fff!important;
		margin:0px!important;;
		padding:0px!important;;
	}
}