@import url(//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap);

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif!important;
}
/*=======================================================
 MENU
=========================================================
 M1- Personalisation de theme.css
 M2- PERSONNALISATION DE ADMIN-FORM
	M2-2 PANEL
 M3- PERSONNALISATION DES PLUGINS
	M3-1-SELECT2
	M3-2-bootstrap-duallistbox
 M4- STYLE PROPRE A ORION AJOUT SI2P
	M4-2- PLANNING
	M-4-4 FORMULAIRE
*/


/*=======================================================
 M1 - Personalisation de theme.css
=========================================================

/*=======================================================
  F. Sidebar Default Color Settings
========================================================= */

/* Top Level Active Menu Item - Icon Color */
.sidebar-menu > li.active > a > span:nth-child(1) {
  color: #e31936;
}
/* Sub-Menu Active Item - Icon Color ref */
.sidebar-menu > li > ul > li.active > a > span:nth-child(1),
.sidebar-menu > li > ul > li > a.menu-open > span:nth-child(1) {
  color: #e31936;
}

/*=======================================================
  thead style
========================================================= */
/*
th{
	background-color:black!important;
	color: white;
}
th.sorting-asc:after{
	color:white!important;
}
/* scrollbar style tableau */
/*
#mCSB_1_container{
	margin-right:17px!important;
}*/
/*=======================================================
  Z. Formulaires
========================================================= */
/* Formulaire en ligne */
.form-inline-grid .form-control{
  display:inline-block;
  width:100%;
}
.form-inline-grid .checkbox-custom{
	padding-left:12px;
}
.form-inline-grid .checkbox-md{
	margin-top:8px;
}
.form-inline-grid .checkbox-lg{
	margin-top:8px;
}
	.form-inline-grid .checkbox-lg label{
		font-size:17px;
	}

.form-inline-grid .checkbox-sm{
	margin-top:5px;
}
	.form-inline-grid .checkbox-sm label{
		font-size:12px;
	}
/*===============================================
  [3540] Nav pills
================================================= */
/*[3540] changement de couleur*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #e31936;
}
.nav-pills > li > a {
    color: #888;
    padding: 7px 13px;
    border-radius: 0px;
}
/*===============================================
  [6424] Scroller - Panel Style
================================================= */
/*[6427] correction d'un bug d'affichage en cas de scroll (double bar)*/
.panel-scroller {
  padding: 0;
}
/*===============================================
  [6480] Scroller Bar - Overlay Style
================================================= */
/*[6495]
	permet d'empecher le contenu de "mordre" la scrollbar
*/
.panel-scroller.scroller-overlay .scroller-content {
  padding: 0;
  margin-right: -17px;
  padding-right:15px;

}
/*===============================================
  [7387] AdminPanels
================================================= */

/* [7485] If titlebox or colorbox are present we need
 * to remove duplicate panel borders. Check sibling
 * elements and remove borders accordingly */

.panel-intro + .panel-body{
	border-top:none;
}
.panel-heading + .panel-intro{
	border-top:none;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}
/*==================================================
 [8335] Typography
==================================================== */
/*[8416]*/

h4{
  margin:0px;
  text-align:center;
}

/*===============================================
  [9615] Tables
================================================= */


/*==================================================
  [11449] Navbars
==================================================== */
/*[11749]*/
.navbar-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*===============================================
  [12006] pagination color
================================================= */
.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 5px 12px;
	line-height: 1.49;
	text-decoration: none;
	color: #E31936;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: -1px;
}
/*===============================================
  [12029] pagination color
================================================= */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #c9142c;
	background-color: #eeeeee;
	border-color: #dddddd;
}
/*===============================================
  [12037] pagination color
================================================= */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	z-index: 2;
	color: #ffffff;
	background-color: #E31936;
	border-color: #E31936;
	cursor: default;
}
.pagination .info > .active > a,
.pagination .info > .active > span,
.pagination .info > .active > a:hover,
.pagination .info > .active > span:hover,
.pagination .info > .active > a:focus,
.pagination .info > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
  cursor: default;
}
.pagination .info > li > a,
.pagination .info > li > span {
  position: relative;
  float: left;
  padding: 5px 12px;
  line-height: 1.49;
  text-decoration: none;
  color: #3498db;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
/*==================================================
  Panels [12676]
==================================================== */
/*[12679]*/
.panel {
  margin-bottom: 15px;
  background-color:transparent;
}
/*[12739] */
.panel-body {
 background-color:#FFF;
}
/*[12747] */

/*[PERSO]*/
/* Dimensionne les titres et est utilisé en cas de scroll pour le calcul de .panel-body */
.panel-head-lg{
	height: 62px;
	line-height: 59px;
	font-size: 17px;
}
.panel-head-sm{
	height: 42px;
	line-height: 39px;
}
/* permet de fixer la hauteur des élement contenu dans . panel
peut s'appliquer à .panel-menu ... */
.panel-lg{
	height: 62px;
}
.panel-md{
	height: 52px;
}
.panel-sm{
	height: 42px;
}
.panel-intro{
	padding: 0px 8px;
	font-style:italic;
	text-align:justify;
	border: 1px solid #e2e2e2;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background: #fafafa;
}
.panel-intro{
	padding: 0px 8px;
	font-style:italic;
	text-align:justify;
	border: 1px solid #e2e2e2;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background: #fafafa;
}
/* PANEL 100% */
.panel-100{
	min-height:100%;
	height:100%;
	overflow:hidden;
}
/* gestion de la hauteur de panel-body pour le scroll selon les élément précedent */
.panel-100 .panel-body{
	height: 100%;
	max-height:100%;
}
.panel-100 .panel-lg + .panel-lg + .panel-body{
	height: calc(100% - 124px);
	max-height: calc(100% - 124px);
}
.panel-100 .panel-lg + .panel-md + .panel-body,
.panel-100 .panel-md + .panel-lg + .panel-body{
	height: calc(100% - 114px);
	max-height: calc(100% - 114px);
}
.panel-100 .panel-lg + .panel-md + .panel-body,
.panel-100 .panel-md + .panel-md + .panel-body,
.panel-100 .panel-sm + .panel-lg + .panel-body{
	height: calc(100% - 104px);
	max-height: calc(100% - 104px);
}

.panel-100 .panel-md + .panel-sm + .panel-body,
.panel-100 .panel-sm + .panel-md + .panel-body{
	height: calc(100% - 94px);
	max-height: calc(100% - 94px);
}
.panel-100 .panel-sm + .panel-sm + .panel-body{
	height: calc(100% - 84px);
	max-height: calc(100% - 84px);
}
.panel-100 .panel-lg + .panel-body{
	height: calc(100% - 62px);
	max-height: calc(100% - 62px);
}
.panel-100 .panel-md + .panel-body{
	height: calc(100% - 52px);
	max-height: calc(100% - 52px);
}
.panel-100 .panel-sm + .panel-body{
	height: calc(100% - 42px);
	max-height: calc(100% - 42px);
}

/* gestion de la hauteur de panel-body pour le scroll selon les élément précedent lorsqu'il y a en plus un footer
 soustraction de 57px suplémentaire */
.panel-100.panel-foot .panel-body{
	height: calc(100% - 166px);
	max-height:calc(100% - 166px);
}
.panel-100.panel-foot .panel-lg + .panel-lg + .panel-body{
	height: calc(100% - 156px);
	max-height: calc(100% - 156px);
}
.panel-100.panel-foot .panel-lg + .panel-md + .panel-body,
.panel-100.panel-foot .panel-md + .panel-lg + .panel-body{
	height: calc(100% - 146px);
	max-height: calc(100% - 146px);
}
.panel-100.panel-foot .panel-lg + .panel-md + .panel-body,
.panel-100.panel-foot .panel-md + .panel-md + .panel-body,
.panel-100.panel-foot .panel-sm + .panel-lg + .panel-body{
	height: calc(100% - 136px);
	max-height: calc(100% - 136px);
}

.panel-100.panel-foot .panel-md + .panel-sm + .panel-body,
.panel-100.panel-foot .panel-sm + .panel-md + .panel-body{
	height: calc(100% - 126px);
	max-height: calc(100% - 126px);
}
.panel-100.panel-foot .panel-sm + .panel-sm + .panel-body{
	height: calc(100% - 104px);
	max-height: calc(100% - 104px);
}
.panel-100.panel-foot .panel-lg + .panel-body{
	height: calc(100% - 104px);
	max-height: calc(100% - 104px);
}
.panel-100.panel-foot .panel-md + .panel-body{
	max-height: calc(100% - 94px);
	height: calc(100% - 94px);/*OK*/
}
.panel-100.panel-foot .panel-sm + .panel-body{
	height: calc(100% - 84px);
	max-height: calc(100% - 84px);
}

.panel-100.panel-foot .panel-footer{
	height:42px;
	max-height:42px;
	padding:5px 15px;
}
.panel-100.panel-foot nav{
	text-align:center;
}
.panel-100.panel-foot .pagination{
	margin:0px;
}
/*[13445]
	panel tabs border
*/
.panel-tabs.panel-tabs-border > li.active > a {
	margin-top: -1px;
	border-top: 2px solid #e31936;
}
/*[14728]
	modal
*/
.modal{
	 z-index: 1050;
}
/* ==============================================
   [17471] Navbar
================================================= */
.navbar {
	height: 50px;
}
/*[17499]*/
.navbar .nav > li > a {
  height: 50px;
  max-height: 49px;
  padding:10px!important;

}
/*[17540]*/
.navbar .nav .menu-divider {
 padding: 20px 10px;
}
/*[17710]*/
.navbar .nav > li.dropdown.menu-merge > .navbar-btn.open .dropdown-menu, .navbar .nav > li.dropdown.disable-arrow > .navbar-btn.open .dropdown-menu{
	margin-top:10px;
}
/*==========================================================
  [17814] Navbar Branding - Logo/Text
=========================================================== */
.navbar-branding {
  height: 50px;
}
/*[17829]*/
.navbar-branding .navbar-brand {
  height: 50px;
  line-height: 48px;
}
/*==========================================================
  [17841] Navbar Toggle Buttons - Collapses Sidebars
=========================================================== */
#toggle_sidemenu_l,
#toggle_sidemenu_t {
  line-height: 48px;
  max-height: 50px; /* doit correspondre à la hauteur de .navbar */
}
/*==========================================================
[17987] Navbar Dropdown Menu Color Settings
=========================================================== */
.navbar .nav > li.dropdown.open .dropdown-menu,
.navbar .nav > li.dropdown .open .dropdown-menu {
  border-top-color: #e31936;
}
.navbar .nav > li.dropdown.open .dropdown-menu:after,
.navbar .nav > li.dropdown .open .dropdown-menu:after {
  border-bottom-color: #e31936;
}
.navbar .nav > li .dropdown-toggle + .dropdown-menu > .active > a,
.navbar .nav > li .dropdown-toggle + .dropdown-menu > .active > a:hover,
.navbar .nav > li .dropdown-toggle + .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #e31936;
}
/*===============================================
	[19239]
	C. Sidebar "top" - Horizontal Menu
    Activated by adding the ".sidebar-top"
    class to the "#sidebar_left" element
================================================= */
/*[19279]*/
body.sb-top #sidebar_left {
  margin-top: 50px;	/* doit correspondre à hauteur de .navbar */
}
/*[19410]*/
body.sb-top.sb-top-sm .navbar.navbar-fixed-top + #sidebar_left + #content_wrapper {
  padding-top: 95px;
}
/* [19832]  ALEXANDRE */
.sidebar-menu > li > ul > li:hover > a:after,
.sidebar-menu > li > ul > li:focus > a:after {
  background: #e31936;
}
/* Sub-Menu Active Item - Icon Color */
.sidebar-menu > li > ul > li.active > a > span:nth-child(1),
.sidebar-menu > li > ul > li > a.menu-open > span:nth-child(1) {
  color: #e31936;
}
.sub-sub-nav {
	background: #4C4A49!important;
}
/* Sub-Menu Active Item - Border Color */
.sidebar-menu > li > ul > li.active > a:after,
.sidebar-menu > li > ul > li > a.menu-open:after {
  background: #e31936;
}
/* [19866] */
.sidebar-menu > li > ul > li > ul > li:hover > a:after,
.sidebar-menu > li > ul > li > ul > li:focus > a:after {
  background: #e31936;
}
.sidebar-menu > li > ul > li > ul > li.active > a:after {
  background: #e31936;
}

/* ==============================================
   Topbar
     A. Topbar
     B. Topbar Dropdown Menu
     C. Topbar Alternate Style
     D. Topbar Navigation - List
     E. Topbar Responsive Settings
=================================================
  [20312] A. Topbar
================================================= */
/*[20339]*/
#topbar {
  min-height: 0px;
}
#topbar a{
  color:#333;
  font-size:13px;
}
#topbar a:hover{
  color:#e31936;
}

/*[PERSO]*/
.breadcrumb .crumb-trail{
	 color:#e31936;
	 font-weight:bold;
	 font-size:13px;
}
/* ==============================================
   [20530] Page Footer
================================================= */
/*[20532]*/
#content-footer {
	padding-top:0;
	padding-bottom:0;

}
/*[20581]*/
/* Fixed Setting */
#content-footer.affix {
  margin-left:0px;
  z-index:1010;
}

/*PERSO*/
.footer-middle{
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	min-height:42px;
	padding-top:7px;
}
.footer-left{
	text-align:center;
	height:100%;
	padding-top:7px;
}
.footer-right{
	text-align:center;
	height:100%;
	padding-top:7px;
}
/*==================================================
  [20571] Shared/Global Styles
  ==================================================== */

  /*[20579]*/
body {
    min-height: 0px;
}
/*==================================================
	[21502] Theme Skin - Controlled by skin settings.less
==================================================== */

/*[21936] BUTTON CONTEXTUALS */

.btn-default {
	background-color:#E0E0E0;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
}
.btn-primary {
  background-color:#e31936;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
}
/*[22009] */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #e23951;
  border-color: rgba(0, 0, 0, 0.05);
}
/* [22844] PANEL CONTEXTUALS */

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #e31936;
  border-color: #CE204A;
}
.panel-primary > .panel-intro {
  color: #ffffff;
  background-color: #e31936;
  border-color: #CE204A;
}
/* [23078] PROGRESS BAR CONTEXTUALS */
/* ==============================================

/* [23232]TABLE BG CONTEXTUALS
 * Exact selectors below required to override `.table-striped`
 * and prevent inheritance to nested tables. */

 /*[23515]*/
 .table > thead > tr > td.dark,
.table > tbody > tr > td.dark,
.table > tfoot > tr > td.dark,
.table > thead > tr > th.dark,
.table > tbody > tr > th.dark,
.table > tfoot > tr > th.dark,
.table > thead > tr.dark > td,
.table > tbody > tr.dark > td,
.table > tfoot > tr.dark > td,
.table > thead > tr.dark > th,
.table > tbody > tr.dark > th,
.table > tfoot > tr.dark > th {
  color: #FFF;
  border-color: #999eb3;
  background-color:#4C4A49;
}
.table > thead > tr.dark + tr > th,
.table > tbody > tr.dark + tr > th,
.table > tfoot > tr.dark + tr > th,
.table > thead > tr.dark + tr > td,
.table > tbody > tr.dark + tr > td,
.table > tfoot > tr.dark + tr > td {
  border-top: 1px solid #999eb3;
}
.table-hover > tbody > tr > td.dark:hover,
.table-hover > tbody > tr > th.dark:hover,
.table-hover > tbody > tr.dark:hover > td,
.table-hover > tbody > tr:hover > .dark,
.table-hover > tbody > tr.dark:hover > th {
  background-color: #c8cbd6;
}
/* [23702] */
.sidebar-menu > li > ul > li.active > a:after, .sidebar-menu > li > ul > li > a.menu-open:after{
	background:#e31936;
}
 /*
	[24827]
    RESPONSIVE STYLES
      A. Content
	  B. Topbar

* These styles control various aspects of the
* site which benefit from being responsive
=================================================
  A. Content
================================================= */
#content {
  padding: 15px 8px 40px 11px;
}
/* content padding on large resolutions */
@media (min-width: 1100px) {
  #content {
   padding: 10px 10px 50px 10px;
  }
}
/*===============================================
  [23584] text primary
================================================= */
.text-primary{
	color: #E31936;
}

/*==================================================
	M2- PERSONNALISATION DE ADMIN-FORM
==================================================== */

/*[1616] Datepicker - jQuery UI */
.ui-datepicker {
	z-index: 1075 !important; /* pour etre utiliser dans modal (index à 1050) */
}
/****************************************
	[2802] M2-2 PANEL
****************************************/

.admin-form .panel-head-sm{
  padding: 5px 5px 5px 10px;
}
.admin-form .panel-head-sm .panel-title{
  font-size:14px;
}
/*[2915]*/
.admin-form .panel-primary > .panel-heading:before {
  background-color: #e31936;
}
.admin-form .panel-primary.heading-border::before, .admin-form .panel-primary .heading-border::before {
    background-color: #e31936;
}
.admin-form .bg-primary {
  background-color: #e31936;
}
/*[2915]*/
.admin-form .option-primary input:checked + .checkbox,
.admin-form .option-primary input:focus + .checkbox,
.admin-form .option-primary input:checked + .radio,
.admin-form .option-primary input:focus + .radio {
  border-color: #e31936;
}
.admin-form .option-primary input:checked + .radio:before,
.admin-form .option-primary input:focus + .radio:before {
  background: #e31936;
}
.admin-form .option-primary input:checked + .checkbox:before,
.admin-form .option-primary input:focus + .checkbox:before {
  border-color: #e31936;
}
.admin-form .switch-primary > input:checked + label {
  background: #e31936;
  border-color: #e31936;
}
.admin-form .switch-primary > input:checked + label:after {
  color: #e31936;
}
.admin-form .btn-primary {
  background-color: #e31936;
}
/*[2915]*/
.admin-form .slider-wrapper.slider-primary .ui-slider .ui-slider-range {
  background-color: #e31936;
}
.admin-form .slider-wrapper.slider-primary .ui-slider .ui-slider-handle {
  border-color: #e31936;
}
.admin-form .slider-wrapper.slider-primary .ui-slider .ui-slider-handle:before {
  background-color: #e31936;
}
.admin-form.theme-primary .section-divider span {
  color: #e31936;
}
.admin-form.theme-primary .tagline span {
  color: #e31936;
}
.admin-form.theme-primary .theme-link {
  color: #e31936;
}
/*[3002]*/
.admin-form.theme-primary .gui-input:hover,
.admin-form.theme-primary .gui-textarea:hover,
.admin-form.theme-primary .select > select:hover,
.admin-form.theme-primary .select-multiple select:hover,
.admin-form.theme-primary .gui-input:hover ~ .input-footer,
.admin-form.theme-primary .file .gui-file:hover + .gui-input,
.admin-form.theme-primary .gui-textarea:hover ~ .input-footer {
  border-color: #e31936;
}
.admin-form.theme-primary .gui-input:focus,
.admin-form.theme-primary .gui-textarea:focus,
.admin-form.theme-primary .select > select:focus,
.admin-form.theme-primary .select-multiple select:focus {
  border-color: #e31936;
  color: #3C3C3C;
}
/*SYSTEME DE CALENDRIER*/
/*[3047]*/
.admin-form.theme-primary .ui-datepicker .ui-datepicker-prev, .admin-form.theme-primary .ui-datepicker .ui-datepicker-next, .admin-form.theme-primary .ui-datepicker .ui-datepicker-title {
    color: #e31936;
}
/*[3052]*/
.admin-form.theme-primary .ui-datepicker-today a, .admin-form.theme-primary .ui-datepicker-today a:hover, .admin-form.theme-primary .ui-datepicker .ui-state-highlight {
    background: #E28899 none repeat scroll 0 0 !important;
}
/*[3057]*/
.admin-form.theme-primary .ui-datepicker .ui-state-active {
    background: #e31936 none repeat scroll 0 0 !important;
}
.panel-link:hover{
	text-decoration: none;
}
.panel-link:hover{
	text-decoration: none;
}
.panel-link > .panel > .panel-body:hover{
	background:#4C4A49;
}
.societe-brand {
    margin-left: 10px;
    color: #e31936;
}

.table > thead > tr > td.dark2,
.table > tbody > tr > td.dark2,
.table > tfoot > tr > td.dark2,
.table > thead > tr > th.dark2,
.table > tbody > tr > th.dark2,
.table > tfoot > tr > th.dark2,
.table > thead > tr.dark2 > td,
.table > tbody > tr.dark2 > td,
.table > tfoot > tr.dark2 > td,
.table > thead > tr.dark2 > th,
.table > tbody > tr.dark2 > th,
.table > tfoot > tr.dark2 > th {
  color: white;
  border-color: #252730;
  background-color: #3B3F4F;
}
.table > thead > tr.dark2 + tr > th,
.table > tbody > tr.dark2 + tr > th,
.table > tfoot > tr.dark2 + tr > th,
.table > thead > tr.dark2 + tr > td,
.table > tbody > tr.dark2 + tr > td,
.table > tfoot > tr.dark2 + tr > td {
  border-top: 1px solid #252730;
}
.table-hover > tbody > tr > td.dark2:hover,
.table-hover > tbody > tr > th.dark2:hover,
.table-hover > tbody > tr.dark2:hover > td,
.table-hover > tbody > tr:hover > .dark2,
.table-hover > tbody > tr.dark2:hover > th {
  background-color: #252730;
}
/*AJOUT STYLE ORION*/
/* input seul */
.admin-form .gui-input-sm{
	height:30px!important;
	padding:0px 0px 0px 10px!important;
}

/* input avec icone */
.admin-form .prepend-icon-sm .gui-input {
	height:30px!important;
	padding:0px 0px 0px 30px!important;
}
.admin-form .append-icon-sm .gui-input{
	height:30px!important;
	padding:0px 30px 0px 10px!important;
}
.admin-form .append-icon-sm .field-icon, .admin-form .prepend-icon-sm .field-icon {
    line-height: 30px;
}

/*==================================================
	M3- PERSONALISATION DES PLUGINS
==================================================== */
/* M3-1- select2 */
.select2{
	width:100%!important;
}

.select2-sm .select2-container .select2-selection--single {
    height: 30px;
}
.select2-sm .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;

}
.select2-sm .select2-container--default .select2-selection--single .select2-selection__rendered {
   line-height: 30px;
}
/*M3-2-bootstrap-duallistbox*/
.bootstrap-duallistbox-container .btn25 {
    width: 25%;
}
.bootstrap-duallistbox-container .moveup {
    padding: 6px 12px;
    width: 25%;
}
.bootstrap-duallistbox-container .movedown {
    padding: 6px 12px;
    width: 25%;
}

/*==================================================
	M4- STYLE PROPRE A ORION AJOUT SI2P
==================================================== */

/*==================================================
	M4-1- STRUCTURE
==================================================== */
/* structure page d'acceuil parametrable*/
	.no-scroll{
		height:100%!important;
		min-height:100%!important;
		overflow-y: hidden;
	}

	.no-scroll #topbar{
		height:42px;
		min-height:42px;
	}

	@media (min-width: 992px) {
        .no-scroll #main {
            height: calc(100% - 44px) !important;
            min-height: calc(100% - 44px) !important;

        }

        .no-scroll #content_wrapper {
            height: 100% !important;
            min-height: 100% !important;
        }

        .no-scroll #content {
            height: 100% !important;
            min-height: 100% !important;
        }

        .no-scroll #topbar + #content {
            height: calc(100% - 42px) !important;
            min-height: calc(100% - 42px) !important;

        }
        .row-42{
            height:42px;

        }
        .no-scroll .row-42 + .row-100 {
            height: calc(100% - 42px) !important;
            min-height: calc(100% - 42px) !important;

        }
    }
/* dimensionnement vertical des éléments */
.row-50{
	height:50%;
	max-height:50%;
}
.row-100{
	height:100%;
	max-height:100%;

}
.row-90{
	height:calc(100% - 44px) !important;
	max-height:calc(100% - 44px) !important;

}

.pt7{
	padding-top:7px!important;
}

/*==================================================
	M4-2- PLANNING
==================================================== */

.planning_case{
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	background-color:#FFF;
	padding:0px;

    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.planning_case div{
	padding-left:5px;
	overflow: hidden;
}
.planning_intervenant{
	border-left:1px solid #333;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
	padding-right:5px;
	/*overflow: hidden;*/
	white-space:nowrap;
}


/* MENU CONTEXTUEL */
.context-menu{
	position: absolute;
	display: none;
}
.context-menu li{
	width:100%;
}

.context-menu>.dropdown-menu{
	display:block;
}
.context-menu .badge{
	margin-right:10px;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:0px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.case_select, .select>div {
	color:#FFF;
	background-color:#000!important;
}
.action-select{
	 font-weight:bold;
}

.drag{
	z-index:700; /* < footer 800 pour affichage planning */
}
/* bordure*/
.bbn{
	border-bottom:none;
}


/*==================================================
	M-4-3 IMAGES
==================================================== */
.image-preview{
	border:2px dashed #999;
	text-align:center;
	margin-bottom:5px;
}
.image-350x140{
	width:360px;
	height:150px;
	padding-top:2px;

}
.image-350x140 img{
	max-width:350px;
	max-height:140px;
}
.logo_principal{
	max-width:400px!important;
	max-height:140px!important;

}

/*==================================================
	M-4-4 FORMULAIRE
==================================================== */
input[readonly]{
	border:none;
}
.admin-form.admin-form-label label{
	font-weight:bold;
}
.admin-form.admin-form-label .input-group-addon{
	font-weight:bold;
	color:#666;
}
.texte_required{
	display:none;
}

/*==================================================
	19341 - Largeur des sous menus
==================================================== */
body.sb-top #sidebar_left .sidebar-menu > li > ul {
	width:225px!important;
}

.modal {
  overflow-y:auto!important;
}


/* CUSTOM PLANNING */

/* .container .row #not_responsive
{
     width: 500px;
     min-width: 500px;
} */
@media (max-width: 575px) {
	.body-planning{
		overflow-x:visible;
	}
	.content-planning{
		width:1500px;
		overflow-x:visible;
	}
	.tray-rescale{
		overflow-x:visible!important;
	}
}


.multiselect-container{
	max-height:300px;
	overflow:auto;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
max-width: 85%;
display: inline-block;
}
.ellipsis:hover{
	text-overflow:clip;
	width:auto;
	white-space: normal;
	display: inline;
}

.note-editor>.note-toolbar{
	overflow:inherit!important;
}